BODY {
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#000000;
	font:1.0em Arial;
	text-align:center;
	align-items:center;
	vertical-align: middle;
	padding-top: 15px;
}

table.outertable {
	border: 0;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	padding: 0;
}
table.innertable {
	border: 0;
	width: 1000px;
	border-collapse: separate;
	border-spacing: 0px;
	padding: 0;
	background: #000000;
	vertical-align: middle;
	text-align:center;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
}
table.splittable {
	width: 928px;
	border-collapse: separate;
	border-spacing: 1px;
	padding: 0;
	background: #000000;
	vertical-align: top;
}
table.maintable {
	border: 0;
	width: 928px;
	border-collapse: separate;
	border-spacing: 0;
	padding: 0;
	background: #FFFFFF;
}
	
table.content {
	border: 0;
	width: 688px;
	border-collapse: separate;
	border-spacing: 1px;
	padding: 0;
	background: #000000;
	box-shadow: 10px 10px 15px silver;
}
TD.edges {
    border-radius: 10px;
    border: 1px solid white;
    border-collapse: separate;
    background: #ffffff;
    text-align:center;
    align-items:center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
TD.logo {
    display: inline-block;
    width: 928px;
    height: 100px;
    border-spacing: 0px;
    border-collapse: separate;
    background: #000000;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0px;
}
TD.main {
    width: 928px;
    height: 466px;
    border: 0;
    border-collapse: separate;
    background: #ffffff;
    text-align: center;
    align-items: center;
    vertical-align: top;
    padding-top: 10px;
}
TD.left {
    width: 198px;
    height: 400px;
    border: 0;
    border-collapse: separate;
    background: #ffffff;
    text-align: center;
    align-items: center;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 10px;
}
TD.content {
    width: 682px;
    border: 0;
    border-collapse: separate;
    background: #ffffff;
    text-align: center;
    align-items: center;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 10px;
}
TD.menue {
	width: 688px;
	height: 20px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
	background: #000000;
	font-size:10pt;
	text-align: center;
	align-items: center;
	vertical-align: middle;
}
TD.news {
	width: 688px;
	font-family:Verdana;
	color:#000000;
	background: #ffffff;
	font-size:10pt;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}
TD.login {
	font-family:Verdana;
	color:#000000;
	font-size:10pt;
}
TD.copyright {
	width: 728px;
	height: 10px;
	font-family:Verdana;
	font-style:italic;
	text-decoration:none;
	color:#000000;
	background:#FFFFFF;
	font-size:8pt;
	text-align: center;
	align-items: center;
	vertical-align: middle;
}
A:link {
	font-family:Verdana;
	text-decoration:none; 
	color:#2A648C;
	background:#FFFFFF;
	font-size:10pt;
}
A:visited {
	font-family:Verdana;
	text-decoration:none;
	color:#2A648C;
	background:#FFFFFF;
	font-size:10pt;
}
A:active {
	font-family:Verdana;
	text-decoration:none;
	color:#2A648C;
	background:#FFFFFF;
	font-size:10pt;
}
A:hover {
	font-family:Verdana;
	text-decoration:underline;
	color:#FFFFFF;
	background:#2A648C;
	font-size:10pt;
}

input, textarea  { 
	font-family: courier new; 
	font-size: 12px; 
}

#content         { 
	width:503px; 
	text-align:left; 
	margin-left:1px;
	margin-right:1px; 
	margin-top:1px; 
}

#chatwindow      { 
	border:1px solid #aaaaaa; 
	padding:4px; 
	background:#000000; 
	color:white;
}

#chatnick        { 
	border: none; 
	border-bottom:1px solid #aaaaaa; 
	padding:4px; 
	background:#dddddd;
}

#chatmsg         { 
	border: none; 
	border-bottom:1px solid #aaaaaa; 
	padding:4px; 
	background:#dddddd; 
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 82px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.tr_show1 {
	border: 1px solid black;
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	background-color: black;
	color: white;
	width: 160px;
}
.tr_hide1 {
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	border: 1px solid black;
	background-color: white;
	width: 160px;
	color: black;
}
#td_pad1 {
	padding:10px;
}
.tr_show2 {
	border: 1px solid black;
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	background-color: black;
	color: white;
	width: 160px;
}
.tr_hide2 {
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	border: 1px solid black;
	background-color: white;
	width: 160px;
	color: black;
}
#td_pad2 {
	padding:10px;
}
.tr_show3 {
	border: 1px solid black;
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	background-color: black;
	color: white;
	width: 160px;
}
.tr_hide3 {
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	border: 1px solid black;
	background-color: white;
	width: 160px;
	color: black;
}
#td_pad3 {
	padding:10px;
}
.tr_show4 {
	border: 1px solid black;
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	background-color: black;
	color: white;
	width: 160px;
}
.tr_hide4 {
	border-collapse: separate;
	box-shadow: 10px 10px 15px silver;
	font-size: 1em;
	border: 1px solid black;
	background-color: white;
	width: 160px;
	color: black;
}
#td_pad4 {
	padding:10px;
}
