BODY {
	display:block;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#000000;
	font:1.0em Arial;
}
svg { display:block; }
table.content {
	box-shadow: 10px 10px 15px silver;
}
TD.edges {
    border-radius: 10px;
    border: 1px solid white;
    border-collapse: seperate;
}
TD.menue {
	font-family:Verdana;
	font-weight:bold;
	color:#FFFFFF;
	font-size:10pt;
}
TD.news {
	font-family:Verdana;
	color:#000000;
	font-size:10pt;
}
TD.login {
	font-family:Verdana;
	color:#000000;
	font-size:10pt;
}
TD.copyright {
	font-family:Verdana;
	font-style:italic;
	text-decoration:none;
	color:#000000;
	background:#FFFFFF;
	font-size:8pt;
}
A:link {
	font-family:Verdana;
	text-decoration:none; 
	color:#2A648C;
	background:#FFFFFF;
	font-size:10pt;
}
A:visited {
	font-family:Verdana;
	text-decoration:none;
	color:#2A648C;
	background:#FFFFFF;
	font-size:10pt;
}
A:active {
	font-family:Verdana;
	text-decoration:none;
	color:#2A648C;
	background:#FFFFFF;
	font-size:10pt;
}
A:hover {
	font-family:Verdana;
	text-decoration:underline;
	color:#FFFFFF;
	background:#2A648C;
	font-size:10pt;
}

input, textarea  { 
	font-family: courier new; 
	font-size: 12px; 
}

#content         { 
	width:503px; 
	text-align:left; 
	margin-left:1px;
	margin-right:1px; 
	margin-top:1px; 
}

#chatwindow      { 
	border:1px solid #aaaaaa; 
	padding:4px; 
	background:#000000; 
	color:white;
}

#chatnick        { 
	border: none; 
	border-bottom:1px solid #aaaaaa; 
	padding:4px; 
	background:#dddddd;
}

#chatmsg         { 
	border: none; 
	border-bottom:1px solid #aaaaaa; 
	padding:4px; 
	background:#dddddd; 
}